
/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/

@import './basic-styles.css';


/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/

/*@orange: #f9903c; // main color*/
/*@blue: #00adef; // second color*/

.action-bar {
    background-color: #000;
    color: #fff;
}

.btn {
    font-size: 18;
    color: #fff;
    background-color: #555;
    border-color: #eee;
    border-width: 3;
    border-radius: 10;
}
.btn:active {
    background-color: #000;
}


/* News List */
ListView {
    separator-color: transparent;
}
.newItem {
    border: none;
    padding: 20 0;
}
.newItem-title {
    padding: 10 20 0;
    font-size: 30;
}
.newItem-description {
    padding: 0 20 10;
    font-size: 15;
}
/* end - News List */